# .pylintrc
[MASTER]
# disable =
#     C0114,  # missing-module-docstring
#     C0115,  # missing-class-docstring
#     C0116,  # missing-function-docstring
#     R0903,  # too-few-public-methods
#     W0613   # unused-argument

[MESSAGES CONTROL]
max-line-length = 120

[FORMAT]
max-line-length = 120

[BASIC]
good-names = i,j,k,ex,Run,_,v

[SIMILARITIES]
min-similarity-lines = 7

[TYPECHECK]
ignored-modules = numpy,matplotlib

[DESIGN]
max-args = 6